<div class="col-4">
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">{{conf.name}}</h4>
      <p class="card-text font-size=">{{conf.conf_description|truncatewords:18}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        {% for tag in conf.topics.all %}
          <a type="button" class="btn btn-outline-dark" href="{{ tag.get_absolute_url }}"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .65rem; border-radius: 50px;">
            {{ tag.title|lower }}
          </a>
        {% endfor %}
      </li>
      <li class="list-group-item">{{conf.place}}</li>
      <li class="list-group-item">{{conf.date|date:"d N Y"}}, <b>{{conf.date|date:"H:i"}}</b></li>
    </ul>
    <div class="d-grid gap-2 my-2 mx-3">
      <a href="{{ conf.get_absolute_url }}" class="btn btn-dark">Read more</a>
    </div>
  </div>
</div>
