{% extends 'base.html' %}

{% block title %}Отели{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Список отелей:</h1>
<div class="container">
    {% if user.landlord %}
    <div class="row justify-content-center">
        <div class="col-md-5 text-center mb-4">
            <a class="btn btn-primary" href="/hotels/add">Добавить отель</a>
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-5">
            {% for hotel in hotels %}
            <div class="card mb-4">
                <div class="card-body text-center">
                    <h4 class="card-title">{{ hotel.name }}</h4>
                    <p class="card-text">Владелец: {{ hotel.owner }}</p>
                    <p class="card-text">{{ hotel.address }}</p>
                    <p class="card-text">{{ hotel.description }}</p>
                    <a class="btn btn-primary" href="/hotels/{{hotel.id}}/rooms">Просмотреть варианты</a>
                </div>
            </div>
            {% empty %}
            <h2 class='text-center'>Доступных отелей нет</h2>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
