{% extends 'base.html' %}

{% block title %}Login{% endblock %}
<a href="/hotels">Обратно к списку отелей</a>

{% block auth %}{% endblock %}

{% block content %}
<div class="container" style="text-align:center;">
    <form method="post">
      <h2>Регистрация нового пользователя</h2>
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Логин:</label>
        {{ form.username }}
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        {{ form.password }}
      </div>
      <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
  </div>
{% endblock %}