{% extends 'base.html' %}

{% block title %}Отзывы{% endblock %}

{% block content %}
  <h1 class='text-center'>Отзывы о комнате {{ room.room_type }}, отеля {{ room.hotel.name }}:</h1>

  <div class="d-flex justify-content-center">
    <a href="/hotels" class="btn btn-secondary">Обратно к списку отелей</a>
  </div>

  <ul class="list-group">
    {% for review in reviews %}
      <li class="list-group-item">
        <h2 class="mb-3">Отзыв: {{ review.booking.user.username }}. {{ review.rating }}/10</h2>
        <p> * {{ review.comment }}</p>
      </li>
    {% empty %}
      <h2>Пока отзывов нет</h2>
    {% endfor %}
  </ul>
{% endblock %}
