{% extends 'base.html' %} 
{% block title %}Отзывы{% endblock %} 
{% block content%}
<h1 class="text-center mb-4">Список номеров в {{ hotel.name }}:</h1>
<div class="container">
  <div class="row justify-content-center mb-4">
    <div class="col-md-5 text-center">
      <a class="btn btn-secondary" href="/hotels">Обратно к списку отелей</a>
      {% if user.landlord %}
      <a class="btn btn-primary" href="add">Добавить новую комнату</a>
      <a class="btn btn-primary" href="/hotels/{{hotel.id}}/statistics/">Статистика</a>
      {% endif %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5">
      {% for room in rooms %}
      <div class="card mb-4">
        <div class="card-body text-center">
          <h4 class="card-title">{{ room.room_type }}</h4>
          <p class="card-text">Цена (сутки): {{ room.price }}</p>
          <p class="card-text">Вместимость: {{ room.capacity }}</p>
          <p class="card-text">Удобства: {{ room.facilities }}</p>
          <a class="btn btn-secondary" href="{{room.id}}/reviews/">Отзывы</a>
          <a class="btn btn-primary" href="{{room.id}}/booking">Забронировать</a>
        </div>
      </div>
      {% empty %}
      <p>Доступных номеров нет!</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
