<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>

    {% block content %}
    Do not have account jet? <a href="/signup/">Registrate!</a>
    <br>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>

    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>

    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="/tickets/" />
    </form>

    {% endblock %}

</body>
</html>