<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All_cars_info</title>
</head>
<body>
    <div class="main">
        <ul>
            {% for car in object_list %}

            <li>Car number: {{car.car_number}};</li>
            <li>Brand: {{car.brand}};</li>
            <li>Model: {{car.model}};</li>
            <li>Colour: {{car.colour}}.</li>
            <hr/>

            {% empty %}
            <li>No cars yet.</li>

            {% endfor %}
        </ul>
    </div>
</body>
</html>