<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car_info</title>
</head>
<body>
    <ul>
        <li>Car number: {{object.car_number}};</li>
        <li>Brand: {{object.brand}};</li>
        <li>Model: {{object.model}};</li>
        <li>Colour: {{object.colour}}.</li>
    </ul>

    <a href="/all_cars/">All cars info</a>
</body>
</html>