/students/k33402/laboratory_works/Konev_Anton/documentation/site/
.idea
/students/k33402/laboratory_works/Konev_Anton/documentation/docs/assets/lw_2/
/students/k33402/laboratory_works/Konev_Anton/documentation/docs/assets/pw_3.1/
/students/k33402/laboratory_works/Konev_Anton/documentation/docs/assets/
