{% extends "base_generic.html" %}

{% block mheader %}
<nav>
    <ul>
        <li><a href="#title">Hotel</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
    </ul>
</nav>
{% endblock %}

{% block mbody %}
<h1 id="title">Hello, {{ user.username }}!</h1>
<p>You chose {{ hotel.name_hotel }}. Which room type do you choose?</p>
<sp>Types:</sp>
{% for room_type in room_types %}
    <div>
        <a href="{% url 'hotel-rooms' hotel.pk room_type.pk %}">
            <p>{{ room_type.pk }}. {{ room_type.get_type_rt_display }}, price: {{ room_type.price_rt }},  rating: {{ room_type.rating_rt }}</p>
        </a>
    </div>
{% endfor %}
{% endblock %}