<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Резервирование</title>
</head>
<body>
  <h1>{{ object }}</h1>
  Пассажир: <b>{{ object.passenger.last_name }} {{ object.passenger.first_name }}</b><br/>
  Рейс: <b>{{ object.flight.number }}</b><br/>
  Авиакомпания: {{ object.flight.airline }}<br/>
  Время вылета: {{ object.flight.departure }}<br/>
  Время прилета: {{ object.flight.arrival }}<br/>
  Тип: {{ object.flight.type }}<br/>
  Гейт: {{ object.flight.gate }}<br/>
  Место: <b>{{ object.seat }}</b><br/>
  Номер билета: <b>{{ object.ticket }}</b><br/>
</body>
</html>