<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cars</title>
</head>
<body>
    <div class="main">
        {% for car in object_list %}
            <li> Brand: {{ car.state_num }}</li>
            <li> Stamp: {{ car.stamp }}</li>
            <li> Model: {{ car.model }}</li>
            <li> Color: {{ car.color }}</li>
            <hr/>
            {% empty %}
            No cars yet
        {% endfor %}
    </div>
</body>
</html>