<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <style>
        body {
            padding: 20px;
            padding-left: 50px;
        }
    </style>
</head>
<body>
    <p>The account created successfully!</p>
    <p>Please enter your personal information to start working.</p>
    <nav>
        <a href={{edit_link}}><strong>Go!</strong></a> |
        <a href="/profile/">Later</a>
    </nav>
</body>
</html>