<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start page</title>
    <style>
        body {
            padding: 20px;
            padding-left: 50px;
        }
    </style>
</head>
<body>
    <p>Welcome to the Homework Board!</p>
    <p>Please login or sign up to get started.</p>
    <nav>
        <a href="/accounts/login/">Log in</a> |
        <a href="/admin/login/">Log in as a teacher</a> |
        <a href="/accounts/signup/">Sign up</a>
    </nav>
</body>
</html>