{% extends "base.html" %}

{% block title %}
Регистрация
{% endblock %}

{% block form %}
<form method="POST" enctype="multipart/form-data">
    <div class="d-flex justify-content-center ">
        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        <div class="d-flex p-2 flex-column ">
            {{ form.as_table }}
        </div>
    </div>
    <div class="d-flex justify-content-center p-2">
        <input type="submit" class="btn btn-primary p-2 "></input>
    </div>
</form>
{% endblock %}