{% extends 'base.html' %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% block content %}
    <div class="main-tweet">
        {% if user.is_active %}
            <div class="row form-twit">
<!--                <div class="row form-twit">{{form.as_p}}</div>-->
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                     <div class="form-twit">{{form.as_p}}</div>
                <button type="submit" class="btn btn-success small">Создать выставку</button>
<!--                    <input type="submit" value="Отправить">-->
            </form>
            </div>

        {% endif %}
    </div>
{% endblock content %}