{% extends 'base.html' %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% block content %}



    <div class="main-tweet">
        {% if user.is_active %}
                {% for ex in experts %}
            <div class="row form-twit">
                <div class="row form-twit" style="color:red; margin-left:30%; padding-top:0px">{{ex.name}} {{ex.surname}}</div>
<!--                <img class="row form-twit" src="{{ ex.image.url }}" style="width:75%;height:75%;padding-top:0px">-->
                <div class="row form-twit" style="padding-top:0px;padding-bottom:0px;">Телефон: {{ex.phone}} </div>
                <div class="row form-twit" style="padding-top:0px;padding-bottom:0px;">Образование: {{ex.education}}</div>
            </div>

                {%endfor%}

        {% endif %}
    </div>
{% endblock content %}