{% extends 'base.html' %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% block content %}
    <style>
table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
text-align: left;
border-collapse: separate;
border-spacing: 5px;
background: #ECE9E0;
color: #656665;
border: 16px solid #ECE9E0;
border-radius: 20px;
}
th {
font-size: 18px;
padding: 10px;
}
td {
background: #F5D7BF;
padding: 10px;
}
</style>
    <div class="main-tweet">
        {% if user.is_active %}
            <div class="row form-twit">
                <div class="row form-twit" style="color: red;font-size:16pt;margin-left:25%; padding-top:0px">{{ex.title}}</div>
                <img class="row form-twit" src="{{ ex.image.url }}" style="width:75%;height:75%;padding-top:0px">
                <div class="row form-twit" style="padding-top:0px;padding-bottom:0px;">Дата проведения: с {{ex.date_start}} по {{ex.date_finish}} </div>
                <div class="row form-twit" style="padding-top:0px;padding-bottom:0px;">Место проведения: {{ex.city}}, {{ex.address}}</div>
                {% for org in orgs%}
                    {%if org.user == ex.user%}
                        <div class="row form-twit" style="padding-top:0px;padding-bottom:0px;">Организатор: {{org.name}} {{org.surname}}</div>
                    {%endif%}
                {%endfor%}
                <div class="row form-twit" style="padding-top:0px;padding-bottom:0px;">Количество участников: {{count}}</div>
                <div class="row form-twit" style="padding-top:0px;padding-bottom:0px;">Список пород:
                {%for breed in breeds%}
                    {{breed.dog.breed}},
                    {%endfor%}
                </div>
            </div>

        {% endif %}
    </div>

    <table style="margin-left:110px">
  <tr>
    <th>Номер ринга</th>
    <th>Дата соревнования</th>
      <th>Упражение 1</th>
      <th>Упражение 2</th>
      <th>Упражение 3</th>
      <th>Результаты</th>
  </tr>
        {% for comp in competitions%}
            {%if comp.exhibition.id == ex.id%}
              <tr>
                  <td>{{comp.ring}}</td>
                  <td>{{comp.date}}</td>
                  <td>{{comp.ex1}}</td>
                  <td>{{comp.ex2}}</td>
                  <td>{{comp.ex3}}</td>
                  <td>
                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          <a class="nav-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#t{{comp.id}}" aria-expanded="true" aria-controls="collapseOne">
                              Результаты</a>
                      </div>
                  </td>
              </tr>
                <tr id="t{{comp.id}}" class="panel-collapse collapse in form-tweet" role="tabpanel" aria-labelledby="headingOne">
                        <td style="background: #f7abc0;"></td>
                        <td style="background: #f7abc0;">Кличка собаки</td>
                        <td style="background: #f7abc0;">Балл 1</td>
                        <td style="background: #f7abc0;">Балл 2</td>
                        <td style="background: #f7abc0;">Балл 3</td>
                        <td style="background: #f7abc0;">Эксперт</td>
                    </tr>
                {%for res in results%}
                    {%if res.comp_participation.competition.id == comp.id%}
                    <tr id="t{{comp.id}}" class="panel-collapse collapse in form-tweet" role="tabpanel" aria-labelledby="headingOne">
                        <td></td>
                        <td>{{res.comp_participation.dog.name}}</td>
                        <td>{{res.score1}}</td>
                        <td>{{res.score2}}</td>
                        <td>{{res.score3}}</td>
                        <td>{{res.expert.name}} {{res.expert.surname}}</td>
                    </tr>
                    {%endif%}
                {%endfor%}
            {%endif%}
        {%endfor%}
</table>

{% endblock content %}
