{% extends 'base.html' %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% load static%}
{% block content %}
    <div class="main-tweet">
            <div class="row form-twit">
                <div class="row form-twit" style="font-size:14pt"><b>Какими породами представлен заданный клуб?</b></div>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                     <div class="form-twit">
                         {{form.as_p}}
                     </div>
                <button type="submit" class="btn btn-success small" name="f1" value="f1">Узнать</button>
            </form>
                <div class="row form-twit">
                {%for dog in dogs%}
                    <div class="row form-twit">{{dog.dog.breed}}</div>
                {%endfor%}
                </div>
            </div>
    </div>
{% endblock content %}