{% extends "base_django.html" %}
{% load crispy_forms_tags %}
{% block content %}
<ul>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->
        <li><a href="/race/{{ object.num_race }}">{{ object.num_race }}</a></li>

    <span>{{ object.name_race }}</span>
    <hr/>
    <!-- If objet_list is empty  -->
    {% empty %}
    <span>No objects yet.</span>
    {% endfor %}

</ul>
  {% if user.is_authenticated %}
<a href="/reg_race/">Присоединиться к гонке</a><br>
<a class="nav-item nav-link" href="{% url 'logout' %}">Выход</a>
  {% else %}
<span>Чтобы присоединиться к гонке, нужно авторизоваться в системе:</span>
    <a class="nav-item nav-link" href="{% url 'login' %}">Вход</a>
    <a class="nav-item nav-link" href="{% url 'reg' %}">Регистрация</a>
  {% endif %}
<a href="/main/">Get back</a> <br>
{% endblock content %}