{% extends "base_django.html" %}
{% load crispy_forms_tags %}
{% block content %}

<ul>
    <!-- Iterate over object_list -->
    {% for object in reg_races %}
    <!-- Display Objects -->
    <li>{{ object.num_reg }}</li>
    <span>{{ object.num_race_reg }}</span> <br>
    <span>{{ object.num_user_reg }}</span><br>
     <span><a href="/reg_race/{{ object.num_reg }}/update/">change race</a></span><br>
    <span><a href="/reg_race/{{ object.num_reg }}/delete/">delete race</a></span>
    <hr/>
    <!-- If objet_list is empty  -->
    {% empty %}
    <span>No objects yet.</span>
    {% endfor %}

</ul>
<a href="/main/">Get back</a> <br>
{% endblock content %}