<p>Чтобы удалить регистрацию, введите в адресную строку
<u>http:.../reg_race/<b>number</b>/delete/</u>,
    где number = номер регистрации.</p>

<p>Чтобы изменить информацию о регистрации, введите
    в адресную строку
<u>http:.../race/<b>number</b>/update/</u>,
    где number = номер регистрации.</p>

<ul>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->
    <li>{{ object.num_reg }}</li>
    <span>{{ object.num_race_reg }}</span> <br>
    <span>{{ object.num_user_reg }}</span>
    <hr/>
    <!-- If objet_list is empty  -->
    {% empty %}
    <span>No objects yet.</span>
    {% endfor %}

</ul>
<a href="/main/">Get back</a> <br>
