{% extends "base_django.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Добро пожаловать в клуб Python Bytes</legend>
                {{ form|crispy }}
            </fieldset>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="first_name" placeholder="First name">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="fathername" placeholder="Отчество">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="last_name" placeholder="Last name">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="experience" placeholder="Years of experience">
        </div>

        <div class="form-group">
            <input class="form-control" autofocus type="text" name="team_name" placeholder="Team name">
        </div>


        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
            <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>


            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Регистрация</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Уже есть аккаунт? <a class="ml-2" href="{% url 'login' %}">Вход</a>
            </small>
        </div>
    </div>
{% endblock content %}