<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

<h1>Home</h1>
<div>
    <h2>
        <br>
        <a href="/guest/create/">Sign Up</a><br>
        <a href="/guest/list/">Our guests</a><br>
        <a href="/book/">Book a room</a><br>
        <a href="/book/list/">All bookings</a><br>
        <a href="/room/list/">Our rooms</a><br>
        <a href="/hotel/list/">Our hotels</a><br>
        <a href="/accom/1/update/">Update booking</a><br>
        <a href="/accom/1/delete/">Delete booking</a><br>
        <a href="/month/">Last month</a>
        <br>
        <br>
    </h2>
</div>
</body>
</html>
