<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

{% include 'main/header.html' %}

{% block content %}
    <div class="card" style="margin: 20px auto 20px auto;width: 30rem;">
        <img
                src="https://mdbootstrap.com/img/new/standard/city/062.jpg"
                class="card-img-top"
                alt="..."
        />
        <div class="card-body">
            <h5 class="card-title">{{ conference.title }}</h5>
            <p class="card-text">
                {{ conference.con_description }}
            </p>
            <p class="card-text">
                {{ conference.conditions }}
            </p>
            <p class="card-text">
                {{ conference.themes }}
            </p>
            <p class="card-text">
                {{ conference.place }}, {{ conference.place_description }}
            </p>
            <p class="card-text">
                {{ conference.start_date }}
            </p>
            <p class="card-text">
                {{ conference.end_date }}
            </p>
        </div>
        <ul class="list-group list-group-flush">
            {% for comment in comments %}
                <li class="list-group-item">
                    <div><h3>{{ comment.user.username }}</h3></div>
                    <div> {{ comment.text }}</div>
                    <div><i class="fas fa-star"></i> {{ comment.rate }}</div>
                    <div>{{ comment.create_date }}</div>
                </li>
            {% endfor %}
        </ul>
        <div class="card-body">
            <a href="/reg_to_conf/{{ conference.id }}" class="card-link">Join</a>
        </div>
    </div>
{% endblock content %}
</body>
</html>