{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% include 'main/includes/navbar.html' %}
{% block content %}
    <section class="h-100 h-custom" style="background-color: #8fc4b7;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/img3.jpg"
                             class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                             alt="Sample photo">
                        {% for message in messages %}
                            <h5 style="color: red">{{ message }}</h5>
                        {% endfor %}
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Login info</h3>

                            <form class="px-md-2" method="post" action="login">
                                {% csrf_token %}
                                <div class="form-outline mb-4">
                                    <input name="username" type="text" id="form3Example1q" class="form-control"/>
                                    <label class="form-label" for="form3Example1q">Username</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input name="password" type="password" id="form3Example1q" class="form-control"/>
                                    <label class="form-label" for="form3Example1q">Password</label>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg mb-1">Login</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}