<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

{% include 'main/header.html' %}

{% block content %}
    {% for reg in registrations %}
        <div class="card text-center"
             style="margin: 20px auto 20px auto; width: 30rem">
            <div class="card-body">
                <h5 class="card-title">{{ reg.conference.title }}</h5>
                <p class="card-text">
                    {{ reg.conference.con_description }}
                </p>
                <div style="margin-top: 10px;" class="card-footer text-muted">{{ reg.conference.start_date }}</div>
                <div class="d-grid gap-2 d-md-block" style="margin-top: 10px ">
                    <a class="btn btn-primary" href="edit/{{ reg.id }}" role="button">Edit</a>
                    <a class="btn btn-primary" href="delete/{{ reg.id }}" role="button">Delete</a>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock content %}
</body>
</html>