<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
        <style type="text/css">
        button {
		    background: LightBlue;
	    }
        body {
            zoom: 100%;
            background-color: Blue;
            background-image: url(https://www.fourseasons.com/content/dam/fourseasons/images/web/SPT/SPT_248_aspect16x9.jpg/jcr:content/renditions/original);
            text-align:center;
            font-size: 17px;
	    }
    </style>
</head>
<body>


    {% if user.is_authenticated %}
    <h1>Добро пожаловать, {{ user.first_name }} {{ user.last_name }}!</h1>

    {% else %}
    <h2>Вы не вошли в систему :(</h2>
    {% endif %}

    <p><a href="/profile/bookings">Список путешествий</a></p>
    <p><a href="/reviews/">Отзывы</a></p>
    <p><a href="/last_guests/">Список постояльцев</a></p>
    <p><a href="/logout/">Выйти из аккаунта</a></p>
    <p><a href="/">На главную</a></p>
</body>
</html>