{% extends "main.html" %}
{% block content %}
<div class="container py-5">
        <h1>Задания</h1>
        <article>
          <p>
            Задание: {{ task.task }}
          </p>
        </article>
        <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group row" >
                                <div class="col-md-6">
                                    {{ field}}
                                    {% if field.help_text %}
                                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                </div>
                        </div>
                    {% endfor %}

                    <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                    Отправить
                            </button>
                    </div>
                </form>
</div>
{% endblock %}
