{% extends 'flights/base.html' %}

{% block title %}
Registration
{% endblock %}

{% block content %}
<h1 class="mx-5 text-center"> Registration </h1>
<div class="w-50 mx-auto container mt-5 px-5">
    <form method="post" action="" class="row g-3 justify-content-center">
        {% csrf_token %}
        <div class="col col-10">
            <p class="form-label">{{ form.username.label }}</p>
            <div class="input-group">
                {{ form.username }}
            </div>
        </div>
        <div class="col col-10">
            <p class="form-label">{{ form.password1.label }}</p>
            {{ form.password1 }}
        </div>
        <div class="col col-10">
            <p class="form-label">{{ form.password2.label }}</p>
            {{ form.password2 }}
        </div>
        <p class="text-danger">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        {{ error }}<br>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </p>
        <div class="col col-10">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
</form>

<script>
    const form_fields = document.getElementsByTagName('input');
    form_fields[2].className += ' form-control'
    form_fields[2].required = true
    form_fields[3].className += ' form-control'
    form_fields[3].required = true
    form_fields[4].className += ' form-control'
    form_fields[4].required = true
    form_fields[5].className += ' form-control'
    form_fields[5].required = true
</script>
{% endblock %}
