<!-- publisher_detail.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><strong> Registration plate: </strong> {{ object.registration_plate }} </h1>
    <p><strong> Car brand:</strong> {{ object.brand }} </p>
    <p><strong> Car model:</strong> {{ object.car_model }} </p>
    <p><strong> Car colour:</strong> {{ object.colour }} </p>
</body>

</html>
