<header>
    <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="{% url 'marks' %}" class="nav-link px-2 link-secondary">Marks</a></li>
      </ul>

      <div class="col-md-3 text-end">

          {% if request.user.is_authenticated %}
              <a href="{% url 'logout' %}" class="btn btn-outline-primary me-2">Log out</a>
          {% else %}
              <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Login</a>
              <a href="{% url 'register' %}" class="btn btn-primary">Sign-up</a>
          {% endif %}

      </div>
    </div>
</header>