<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Редактирование резервирования</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Список рейсов</a>
                    <a class="nav-link" href="/reviews">Отзывы на рейсы</a>
                    {% if request.user.username == "admin" %}
                        <a class="nav-link" href="/admin">Django-admin</a>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <a class="nav-link" href="/my_bookings">Мои резервирования</a>
                        <a class="nav-link" href="/logout">{{user.username}} | Выход</a>
                    {% else %}
                        <a class="nav-link" href="/register">Регистрация</a>
                        <a class="nav-link" href="/login">Вход</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <br>
    {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <table>
                <tbody>
                    <tr>
                        <td>Пользователь:</td>
                        <td>{{ user.username}}</td>
                    </tr>
                        <tr>
                            <td>Номер рейса:</td>
                            <td>{{ object.id_flight}}</td>
                        </tr>
                        <tr>
                            <td>Багаж:</td>
                            <td>{{ form.luggage}}</td>
                        </tr>
                </tbody>
            </table>
            <br> 
            <input type="submit" value="Редактировать" />
        </form>
  {% endif %}
</body>

</html>