<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car_delete</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete {{ object.brand }} {{ object.model }} with the number {{ object.car_number }}?</p>
        <input type="submit" value="Confirm">
    </form>
    <br>
    <br>
    <a href="/all_cars/">All cars info</a>
</body>
</html>