<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Index</h1>
<ul>
    <li><a href="/owner/">Car Owners List</a></li>
    <li><a href="/owner/2">Car Owner #2</a></li>
    <li><a href="/owner/create">Create Car Owner</a></li>
    <li><a href="/car/">Cars List</a></li>
    <li><a href="/car/2">Car #2</a></li>
    <li><a href="/car/2/update">Update Car #2</a></li>
    <li><a href="/car/create">Create Car</a></li>
    <li><a href="/car/2/delete">Delete Car #2</a></li>
</ul>
</body>
</html>