<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Owner #{{owner.id_owner}}</title>
</head>
<body>
<h1>Car Owner #{{owner.id_owner}}</h1>
<ul>
    <li>id: {{owner.id_owner}}</li>
    <li>Username: {{owner.username}}</li>
    <li>Имя: {{owner.first_name}}</li>
    <li>Фамилия: {{owner.last_name}}</li>
    <li>Дата рождения: {{owner.date_of_birth}}</li>
    <li>Номер паспорта: {{owner.passport_number}}</li>
    <li>Домашний адрес: {{owner.address}}</li>
    <li>Национальность: {{owner.nationality}}</li>
</ul>
<a href="/">Назад</a>
</body>
</html>