<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Booking</title>
</head>
<body>
<div class="main">
    {% if valid_user %}
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete booking at "{{ object.reservation.hotel.name }}"?</p>
        <input type="submit" value="Confirm">
    </form>
    {% else %}
    <p>You have not enough permissions</p>
    {% endif %}
    <br>
    <br>
    <a href="/bookings/">Get back</a>
</div>
</body>
</html>