<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotels</title>
</head>
<body>
<div class="main">
    <h1>Hotels</h1>
    {% for hotel in hotel_list %}
    <ul>
        <li>
            <b>{{ hotel.name }}</b> located in <b>{{ hotel.address }}</b> and owned by <b>{{ hotel.owner }}</b>.
            <br>
            {{ hotel.description }}
            <br>
            <a href="/hotel/{{ hotel.id }}/">Check rooms</a>
        </li>
    </ul>
    <hr>
    {% endfor %}
</div>
</body>
</html>