{% extends 'base.html' %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% load static%}
{% block content %}
    <div class="main-tweet">
        {% if user.is_active %}
            <div class="row form-twit">
                {{message}}
                {%if date_start%}
                 c {{date_start}} по {{date_finish}}
                {%endif%}
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media.js }}
                     <div class="form-twit">{{form.as_p}}</div>
                <button type="submit" class="btn btn-success small" name="f1" value="f1">{{button}}</button>
            </form>
            </div>

        {% endif %}
    </div>
{% endblock content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js</script>
<script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
<script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>
<script type="text/javascript" src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>