{% extends 'base.html' %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% load static%}
{% block content %}
    <div class="main-tweet">
            <div class="row form-twit">
                <div class="row form-twit" style="font-size:14pt"><b>Какие эксперты обслуживают породу?</b></div>
                <div class="row form-twit">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Выберите породу из списка: </p>
                    <select class="form-control" name="breed">
                        {%for dog in dogs%}
                            <option value="{{dog.breed}}">{{dog.breed}}</option>
                        {%endfor%}
                    </select>
                    <br>
                <button type="submit" class="btn btn-success small" name="f1" value="f1">Узнать</button>
            </form>
                <div class="row form-twit">
                {%for exp in experts%}
                    <div class="row form-twit">{{exp}}</div>
                {%endfor%}
                </div>
            </div>
    </div>
{% endblock content %}