{% extends 'base.html' %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% load static%}
{% block content %}
    <div class="main-tweet">
            <div class="row form-twit">
                <div class="row form-twit" style="font-size:14pt"><b>Сколько собак были отстранены от участия в выставке?</b></div>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                     <div class="form-twit">
                         {{form.as_p}}
                     </div>
                <button type="submit" class="btn btn-success small" name="f1" value="f1">Узнать</button>
            </form>
                <div class="row form-twit">
                    {%if count%}
                    Всего отстранённых собак: {{count}}
                    <div class="row form-twit">
                    Подробнее:
                    {%for dog in dogs%}

                        {{dog.dog.name}}</div>
                {%endfor%}
                    {%endif%}
                </div>
            </div>
    </div>
{% endblock content %}