{% extends 'main.html' %}

{% block content %}

<br>

<div class = "row justify-content-md-center">
	<div class = "col-lg-5 col-md-12 col-sm-8">
		<h4>Are you shure you want to delete race "{{ race.name }}" - {{race.id}}?</h4>
	</div>
	<form action="{% url 'race_dl' race.id %}" class = "col-sm-1" method="POST">

		{% csrf_token %}
		<div class="btn-group btn-group-toggle">
			<a href="{% url 'home' %}" style="color: white" class="btn btn-info">Cancel</a>
			<input type="submit" style="color: white" class="btn btn-danger" name="Delete" value="Delete">
		</div>
	</form>
</div>

{% endblock %}