<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        body {
            background-color: rgba(72, 49, 212, 0.73);
            text-align: center;
            color: #CCF381;
            align-self: end;
            margin-top: 10%;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    </style>
</head>
<body>
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Log in to attend or submit talks to any of the conferences.</h2>
    <form class="center" method="POST" enctype="multipart/form-data">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Using the formset -->
    {{ form.as_p }}

    <button type="submit">Log In</button>
{% endblock %}
</form>
</body>
</html>