site_name: Aleksandrosius

theme:
    name: material

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
 - Знакомство: index.md
 - Лабораторная работа №1: labs/lab_1.md
 - Лабораторная работа №2: labs/lab_2.md
 - Практическая работа №3.1: practical_works/pw_3.1.md
 - Лабораторная работа №3: labs/lab_3.md


