<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Club Details</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            background-color: #4831D4;
            text-align: center;
            color: #CCF381;
        }
        .info {
            color: #4831D4;
            width: 20%;
            font-size: 20px;
            text-align: left;
            border-radius: 25px;
            background-color: #CCF381;
            padding: 10px;
            margin: auto;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<body>
<h1>Club details</h1>
<div class="info">
    <p>ID: {{ id }}</p>
    <p>Name: {{ name }}</p>
</div>
</body>
</html>