<style>
    ul {
    list-style: none;
    display: block;
    margin:0px;
    padding:0px;
}
ul:after {
    display: block;
    float: none;
    content: ' ';
    clear: both;
}
ul.mmenuu > li {
    float: left;
    position: relative;
}
ul.mmenuu > li > a {
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    background-color: SandyBrown;
}
ul.mmenuu > li > a:hover {
    background-color: plum;
}
ul.ssubmenuu {
    position: absolute;
    width: 240px;
    top: 37px;
    left:0px;
    display: none;
    background-color: white;
}
ul.ssubmenuu > li {
    display: block;
}
ul.ssubmenuu > li > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    background-color: SandyBrown;
}
ul.ssubmenuu > li > a:hover {
    /* Цвет бэкграунда при наведении. */
    background-color: #eb9316;
    /* Задаю подчеркивание*/
    text-decoration: underline;
}
ul.mmenuu > li:hover > ul.ssubmenuu {
    /* Делаю элементы блочными. */
    display: block;
}
</style>

<div class="navbar navbar-expand-lg navbar-dark menu" style="background:SandyBrown; height:100px">
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="basicExampleNav" >
        <ul class="navbar-nav mr-auto">

        </ul>
        <ul class="navbar-nav mr-0 mmenuu">
            {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experts_output' %}">Эксперты</a>
                    <ul class="ssubmenuu">
                        <li><a href="{% url 'experts_output' %}">Все эксперты</a></li>
                        <li><a href="{% url 'set_experts' %}">Назначить экспертов</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'exhibition_info' %}">Выставки
                    </a>
                    <ul class="ssubmenuu">
                        <li><a href="{% url 'exhibition_info' %}">Все выставки</a></li>
                        <li><a href="{% url 'exhibition_my' %}">Мои выставки</a></li>
                        <li><a href="{% url 'exhibition_add' %}">Добавить выставку</a></li>
                        <li><a href="{% url 'dog_reg' %}">Регистрация на выставку</a></li>
                        <li><a href="{% url 'competition_add' %}">Добавить соревнование</a></li>
                        <li><a href="{% url 'dog_to_comp' %}">Назначить собак на соревнование</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link">Запросы
                    </a>
                    <ul class="ssubmenuu">
                        <li><a href="{% url 'query' query_number=1%}">Запрос 1</a></li>
                        <li><a href="{% url 'query' query_number=2%}">Запрос 2</a></li>
                        <li><a href="{% url 'query' query_number=3%}">Запрос 3</a></li>
                        <li><a href="{% url 'query' query_number=4%}">Запрос 4</a></li>
                        <li><a href="{% url 'query' query_number=5%}">Запрос 5</a></li>
                    </ul>
                </li>
                <li class="nav-item my-0">
                    <a class="nav-link"
                       href="{% url 'view_profile' %}"><span>
                    {{ user.username }}</span>
                    </a>
                </li>
                <li class="nav-item my-0">
                    <img class="avatar" src="{{ user.profile.get_avatar_url }}">
                </li>
                <li class="nav-item my-0">
                    <a class="nav-link" href="/accounts/logout/">Выход</a>
                </li>
            {% else %}
                <li class="nav-item my-0">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">
                        Вход
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

{# Login modal #}
<div class="modal fade" id="loginModal">
    <div class="modal-dialog modal-dialog-centered auth-modal">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Вход</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% include 'account/ajax_login.html' %}
            </div>
        </div>
    </div>
</div>
{# Signup modal #}
<div class="modal fade" id="signupModal">
    <div class="modal-dialog modal-dialog-centered auth-modal">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Регистрация</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                {% include 'account/ajax_signup.html' %}
            </div>
        </div>
    </div>
</div>