{% extends "base_generic.html" %}

{% block mheader_left_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hotels' %}">Hotels</a>
    </li>
{% endblock %}

{% block mheader_right_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'reserve' %}">Reserve</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account' user.pk %}">My acc</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
    </li>
{% endblock %}

{% block mbody %}
    <div class="mx-auto w-50 pb-4">
        <h1>Your information</h1>
        {% if user.is_superuser %}
            {% if taken_registrations|length > 0 or booked_registrations|length > 0 %}
                <p>Taken registration:</p>
                {% if taken_registrations|length > 0 %}
                    {% for registration in taken_registrations %}
                        <a href="{% url 'update_reserve' user.pk registration.pk %}" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="card text-center">
                                <div class="card-header text-start">
                                    ID reg: {{ registration.id_reg }}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">ID Guest: {{ registration.id_guest.pk }}; ID Room: {{ registration.id_room.id_room }};</h5>
                                    <p class="card-text">Payment status: {{ registration.get_status_pay_display }}</p>
                                    <p class="card-text">Booked dates: {{ registration.check_in }} - {{ registration.check_out }}</p>
                                </div>
                                <div class="card-footer text-muted">
                                    {{ registration.booking }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <span>0</span>
                {% endif %}
                <p>Booked registration:</p>
                {% if booked_registrations|length > 0 %}
                    {% for registration in booked_registrations %}
                        <a href="{% url 'update_reserve' user.pk registration.pk %}" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="card text-center">
                                <div class="card-header text-start">
                                    ID reg: {{ registration.id_reg }}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">ID Guest: {{ registration.id_guest.pk }}; ID Room: {{ registration.id_room.id_room }};</h5>
                                    <p class="card-text">Payment status: {{ registration.get_status_pay_display }}</p>
                                    <p class="card-text">Booked dates: {{ registration.check_in }} - {{ registration.check_out }}</p>
                                </div>
                                <div class="card-footer text-muted">
                                    {{ registration.booking }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <span>0</span>
                {% endif %}
            {% else %}
                <p>We haven't registrations</p>
            {% endif %}
                Users:
            {% if guests|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">ID guest</th>
                                <th scope="col">ID room</th>
                                <th scope="col">Email</th>
                                <th scope="col">Check in</th>
                                <th scope="col">Check out</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for registration in month_registrations %}
                                <tr>
                                    <td>{{ registration.id_guest.pk }}</td>
                                    <td>{{ registration.id_room.pk }}</td>
                                    <td>{{ registration.id_guest.email }}</td>
                                    <td>{{ registration.check_in }}</td>
                                    <td>{{ registration.check_out }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>We haven't users</p>
            {% endif %}
        {% else %}
            <form class="py-4" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group p-2 row">
                        <div class="col-2">{{ field.label_tag }}</div>
                        <div class="col-4">{{ field }}</div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        {% endif %}
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                My reserved rooms
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {% if guest_registrations|length > 0 %}
                    {% for registration in guest_registrations %}
                        <a href="{% url 'update_reserve' user.pk registration.id_reg %}" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="card text-center">
                                <div class="card-header">
                                    <h5 class="card-title">{{ registration.id_room.id_hotel.name_hotel }}</h5>
                                </div>
                                <div class="card-body text-start">
                                    <p class="card-text">Room type, number: {{ registration.id_room.id_rt.get_type_rt_display }}, №{{ registration.id_room.number_room }}</p>
                                    <p class="card-text">Payment status: {{ registration.get_status_pay_display }}</p>
                                    <p class="card-text">Booked dates: {{ registration.check_in }} - {{ registration.check_out }}</p>
                                </div>
                                <div class="card-footer text-muted">
                                    {{ registration.booking }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <p>We haven't reserved rooms</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}