{% extends "base_generic.html" %}

{% block mheader_left_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hotels' %}">Hotels</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hotel' hotel.pk %}">Room types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hotel-rooms' hotel.pk room_type.pk %}">Rooms</a>
    </li>
{% endblock %}

{% block mheader_right_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
    </li>
{% endblock %}

{% block mbody %}
    <div class="mx-auto w-50">
        <h1>{{ hotel.name_hotel }} - {{ room_type.get_type_rt_display }} - Room №{{ room.number_room }}</h1>
        <h4>Write a good comment, please!</h4>
        <form class="py-4" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}