{% extends "base_generic.html" %}

{% block mheader_left_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hotels' %}">Hotels</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hotel' hotel.pk %}">Room types</a>
    </li>
{% endblock %}

{% block mheader_right_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
    </li>
{% endblock %}

{% block mbody %}
    <div class="mx-auto w-50">
        <h1 id="title">{{ hotel.name_hotel }}</h1>
        <h4>Which room type do you choose?</h4>
        <div class="list-group py-4">
            {% for room_type in room_types %}
                <a href="{% url 'hotel-rooms' hotel.pk room_type.pk %}" class="list-group-item list-group-item-action">
                    <p>{{ room_type.get_type_rt_display }} - {{ room_type.rating_rt }} stars</p>
                    <p>Price: {{ room_type.price_rt }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}