{% extends "base_generic.html" %}

{% block mheader_left_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hotels' %}">Hotels</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hotel' hotel.pk %}">Room types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hotel-rooms' hotel.pk room_type.pk %}">Rooms</a>
    </li>
{% endblock %}

{% block mheader_right_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
    </li>
{% endblock %}

{% block mbody %}
    <div class="mx-auto w-50">
        <h1>{{ hotel.name_hotel }} - {{ room_type.get_type_rt_display }} - Room №{{ room.number_room }}</h1>
        <br>
        <p style="font-size: 1.5rem"><strong>Stars</strong>: {{ room_type.rating_rt }}</p>
        <p style="font-size: 1.5rem"><strong>Status</strong>: {{ room.get_status_room_display }}</p>
        <p style="font-size: 1.5rem"><strong>Price</strong>: {{ room_type.price_rt }}</p>
        {% if room_type.des_rt|length > 0 %}
            <p style="font-size: 1.5rem"><strong>Review</strong>: {{ room_type.des_rt }}</p>
        {% endif %}
        {% if comments|length > 0 %}
            {% for comment in comments %}
                <p>Address: {{ hotel.address_hotel }}</p>
            {% endfor %}
        {% endif %}
        <a href="{% url 'comment' hotel.pk room_type.pk room.pk %}" class="button btn btn-primary">Add review</a>
    </div>
{% endblock %}