{% extends "base_generic.html" %}

{% block mheader_left_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hotels' %}">Hotels</a>
    </li>
{% endblock %}

{% block mheader_right_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'reserve' %}">Reserve</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account' user.pk %}">My acc</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
    </li>
{% endblock %}

{% block mbody %}
    <div class="mx-auto w-50 pb-4">
        <h1>Updates were safe!</h1>
    </div>
{% endblock %}
