{% extends "base_generic.html" %}

{% block mheader_left_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'hotels' %}">Hotels</a>
    </li>
{% endblock %}

{% block mheader_right_items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'reserve' %}">Reserve</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account' user.pk %}">My acc</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
    </li>
{% endblock %}

{% block mbody %}
    <div class="mx-auto w-50 pb-4">
        <h1 class="card-text">Room type, number: {{ reg.id_room.id_rt.get_type_rt_display }}, №{{ reg.id_room.number_room }}</h1>
        <form class="py-4" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group p-2 row">
                    {% if field.html_name != 'id_room' and field.html_name != 'id_guest' %}
                        {% if user.is_superuser %}
                            <div class="col-2">{{ field.label_tag }}</div>
                            <div class="col-4">{{ field }}</div>
                        {% else %}
                            {% if field.html_name != 'id_employee' %}
                                <div class="col-2">{{ field.label_tag }}</div>
                                <div class="col-4">{{ field }}</div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <a class="btn btn-danger" href="{% url 'delete_reserve' user.pk reg.pk %}" role="button">Delete</a>
    </div>
{% endblock %}