<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Race detail</title>
</head>

<body>
  <h1>{{ race }}</h1>
  <p><strong>Date & time:</strong> {{ race.date_race }}</p>
  <p><strong>Location:</strong> {{ race.place_race }}</p>
  <p><strong>1st place:</strong> {{ race.first_place }}</p>
  <p><strong>2nd place:</strong> {{ race.second_place }}</p>
  <p><strong>3rd place:</strong> {{ race.third_place }}</p>
  <a href="/race/list/">Back</a>

</body>
</html>