<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Отели!Отели!Отели!</title>
</head>
<body>
<br>
<br>
<p align='center'><a href="/login/" role="button">Войти</a></p>
<p align='center'><a href="/register/" role="button">Зарегистрироваться</a></p>
<br>
<br>
<p align='center'><a href="/admin/" role="button">Войти как администратор</a></p>
</body>
</html>