{% extends "./base.html" %}
{% load static %}
{% block body %}
    {% block aside_container %}
        {% if not hide_nav == True %}
            {% block nav %}
                {% include "./sub_nav.html" %}
            {% endblock nav %}
        {% endif %}
        <div class="{% if aside_image %}grid h-full{% endif %}">
            {% include "./sub_aside.html" %}
            <main class="min-h-full top-0 px-8 py-20">
                <div class="mx-auto max-w-xl ">
                    <h1 class="text-4x">
                        {% block title %}
                        {% endblock title %}
                    </h1>
                    <p>
                        {% block subtitle %}
                        {% endblock subtitle %}
                    </p>
                    {% block content %}
                    {% endblock content %}
                </div>
            </main>
        </div>
    {% endblock aside_container %}
{% endblock body %}
