{% extends "./base_body.html" %}
{% load static %}
{% load tags %}
{% block tab_title %}
    Flights
{% endblock tab_title %}
{% block title %}
    Flights
{% endblock title %}
{% block subtitle %}
    <p>All flights</p>
{% endblock subtitle %}
{% block content %}
    {% if error %}<p class="text-pink-500">{{ error }}</p>{% endif %}
    <ul class="flex flex-col gap-4 !m-0">
        {% for flight in fligts %}
            {% comment %} {% for iata_code, airport in iata_codes.items %}
            <li>{{ iata_code }} - {{ airport.city }}, {{ airport.country }} ({{ airport.name }})</li>
            {% endfor %}     {% endcomment %}
            <li class="flex flex-col gap-y-4 p-4 rounded-lg backdrop-blur-lg m-w-[90%] backdrop-saturate-150 shadow-[0_0.5px_0_var(--muted-border-color)">
                <div class="flex gap-4 justify-between">
                    <div class="w-full !grid grid-cols-2 grid-rows-[min-content_min-content] gap-x-4 gap-y-2">
                        <div>🕓{{ flight.departure|date:"H:m" }} – {{ flight.arrival|date:"H:m" }}</div>
                        <div class="justify-self-end">✈{{ flight.departure|timesince:flight.arrival }}</div>
                        <div>🏙{{ flight.source.city }} – {{ flight.destination.city }}</div>
                    </div>
                    {% comment %} <div>{{ flight.source.city }}</div>
                <div>{{ flight.departure|date:"Y.m.d" }}</div>
                    <div>{{ flight.gate }}</div> {% endcomment %}
                    <div>
                        <div>{{ flight.max_reservations|subtract:flight.reservators.count }} left at</div>
                        <h3 class="m-0">{{ flight.price }}</h3>
                    </div>
                </div>
                <div class="flex justify-between items-end">
                    <div>{{ flight.airline }}</div>
                    <a href="{% url 'home' %}" role="button">Reserve</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% comment %} <p>{{ flight }}:</p>
    <p>{{ flight.source_airport_code }} - {{ test }}</p>
    <p>{{ flight.destination_airport_code }}</p> {% endcomment %}
    {% comment %} <table role="grid">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Heading</th>
                <th scope="col">Heading</th>
                <th scope="col">Heading</th>
                <th scope="col">Heading</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Cell1</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Cell2</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Cell3</td>
                <td>
                    Cell
                </td>
                <td>
                    Cell
                </td>
                <td>
                    Cell
                </td>
                <td>
                    Cell
                </td>
            </tr>
        </tbody>
    </table> {% endcomment %}
{% endblock content %}
