{% extends "./base_body.html" %}
{% load static %}
{% block tab_title %}
    Profile
{% endblock tab_title %}
{% block title %}
    Profile
{% endblock title %}
{% block subtitle %}
    <p class="">Your account data.</p>
{% endblock subtitle %}
{% block aside_container %}
    {% with aside_image="plane3.webp" aside_col_span=2 %}{{ block.super }}{% endwith %}
{% endblock aside_container %}
{% block content %}
    <p>
        <div>Username: {{ user.username }}</div>
        <div>Name: {{ user.first_name }} {{ user.last_name }}</div>
        <div>Email: {{ user.email }}</div>
    </p>
{% endblock content %}
