{% load tags %}
<li class="flex flex-col gap-y-4 p-4 rounded-lg backdrop-blur-lg m-w-[90%] backdrop-saturate-200 shadow-[0_0.5px_0_var(--muted-border-color)">
    <div class="flex gap-4 justify-between">
        <div class="w-full !grid grid-cols-[3fr_2fr] grid-rows-[min-content_min-content] gap-x-4 gap-y-2">
            <div class="font-semibold">🕓{{ flight.departure|date:"H:m" }} – {{ flight.arrival|date:"H:m" }}</div>
            <div>✈{{ flight.departure|timesince:flight.arrival }}</div>
            <div>🏙{{ flight.source.city }} – {{ flight.destination.city }}</div>
            <div class="self-end">
                {% if not flight.ticket_number %}
                    {% if expanded %}<span class="text-[var(--muted-color)]">Flight:</span> {{ flight.flight_number }}{% endif %}
                {% else %}
                    <span class="text-[var(--muted-color)]">Ticket:</span> {{ flight.ticket_number }}
                {% endif %}
            </div>
            <div class="self-end italic text-[var(--muted-color)]">{{ flight.airline }}</div>
            <div class="self-end">
                {% if expanded %}
                    <span class="text-[var(--muted-color)]">Gate:</span> {{ flight.gate }}
                {% else %}
                    <a class="underline text-[var(--muted-color)] hover:text-[var(--h2-color)]"
                       href="{% url 'flight_details' flight.pk %}">Details</a>
                {% endif %}
            </div>
        </div>
        <div class="col-span-full flex flex-col gap-2 justify-between items-end">
            <div class="text-right">
                <div>{{ flight.max_reservations|subtract:flight.reservators.count }} left at</div>
                <h3 class="m-0">{{ flight.price }}</h3>
            </div>
            <div class="flex flex-row gap-2">
                {% if user not in flight.reservators.all %}
                    <a class="!text-sm !p-2"
                       href="{% url 'toggle_reserve' flight.pk %}"
                       role="button">Reserve</a>
                {% else %}
                    <a class="!text-sm !p-2 secondary"
                       href="{% url 'toggle_reserve' flight.pk %}"
                       role="button">Unreserve</a>
                {% endif %}
            </div>
        </div>
    </div>
</li>
