<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner</title>
</head>
<body>
<h1>{{ owner.username }}</h1>

<p>Имя: {{owner.first_name}}, Фамилия: {{owner.second_name}}</p>

{% if owner.date_of_birth %}
<p>Дата рождения: {{ owner.date_of_birth }}</p>
{% endif %}

{% if owner.passport_number %}
<p>Дата рождения: {{ owner.passport_number }}</p>
{% endif %}

{% if owner.nationality %}
<p>Дата рождения: {{ owner.nationality }}</p>
{% endif %}

{% if owner.address %}
<p>Дата рождения: {{ owner.address }}</p>
{% endif %}
</body>
</html>