{% extends 'base.html' %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% block content %}
    <div class="main-tweet">
            <div class="row form-twit">
                Вот тут будет вывод всех выставок
<!--                <div class="row form-twit">{{form.as_p}}</div>-->
                <form action="" method="post">
                    {% csrf_token %}
                     <div class="form-twit">{{form.as_p}}</div>
                <button type="submit" class="btn btn-success small">Создать выставку</button>
            </form>
            </div>
<!--            <div class="row form-twit">-->
                {% for ex in exhibition %}
            <div class="row form-twit">
                <div class="row form-twit" style="color:red; margin-left:30%; padding-top:0px">{{ex.title}}</div>
                <img class="row form-twit" src="{{ ex.image.url }}" style="width:75%;height:75%;padding-top:0px">
                <div class="row form-twit" style="padding-top:0px;padding-bottom:0px;">Дата проведения: с {{ex.date_start}} по {{ex.date_finish}} </div>
                <div class="row form-twit" style="padding-top:0px;padding-bottom:0px;">Место проведения: {{ex.city}}, {{ex.address}}</div>
            </div>
                {%endfor%}
    </div>
{% endblock content %}