{% extends 'TheConference/base_conf.html' %}

 {% block title %}
    Registration
  {% endblock %}

{% block content %}
	<div>
		<div>
			<h1 class="mb-4">Регистрация</h1>

			<form method="post">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}">

				{{ form.as_p }}

				<button type="submit" class="btn btn-primary btn-block mt-3">Зарегистрироваться</button>
			</form>
			<div class="mt-3"><a href="{% url 'login_url' %}" class="card-link">Уже есть учетная запись?</a></div>
		</div>
	</div>
{% endblock %}


<!--<h1 class="mt-4">
    Registration
</h1>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Login</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="FirstNameInput" class="form-label">First name</label>
    <input type="text" class="form-control" id="FirstNameInput">
  </div>
  <div class="mb-3">
    <label for="LastNameInput" class="form-label">Last name</label>
    <input type="text" class="form-control" id="LastNameInput">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>-->