{% extends 'TheConference/base_conf.html' %}

 {% block title %}
    Registration
  {% endblock %}

{% block content %}
	<div>
		<div>
			<h1 class="mb-4">Регистрация</h1>

			<form method="post">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}">

				{{ form.as_p }}

				<button type="submit" class="btn btn-primary btn-block mt-3">Зарегистрироваться</button>
			</form>
			<div class="mt-3"><a href="{% url 'login_url' %}" class="card-link">Уже есть учетная запись?</a></div>
		</div>
	</div>
{% endblock %}
