<!-- car_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Car detail </title>
</head>
<body>
  <h1> {{ object.number }}</h1>
  <p><strong>Number:</strong> {{ object.number }}</p>
  <p><strong>Brand:</strong> {{ object.brand }}</p>
  <p><strong>Model:</strong> {{ object.model }}</p>
  <p><strong>Color:</strong> {{ object.color }}</p>
  <a href="/car/list/">Get back</a>
</body>
</html>