<!DOCTYPE html>
{% include 'main.html' %}
<html lang="en">
<head>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Регистрация</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <input type="submit" value="Зарегестрироваться"> <br><br>
            </form>
        </div>
    </div>
</div>
</body>
</html>