<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
</head>
<body>

    <h1> Car {{ car.id }}</h1>
    <ul>
        <li>State_number: {{ car.state_number }}</li>
        <li>Make: {{ car.make_car}}</li>
        <li>Model: {{ car.model_car }}</li>
        <li>Colour: {{ car.colour }}</li>
    </ul>
    <a href="http://127.0.0.1:8000/admin/">Get back</a>

</body>
</html>