<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner</title>
</head>
<body>

    <h1> Owner {{ owner.id }}</h1>
    <ul>
        <li>Name: {{ owner.first_name }}</li>
        <li>Lastname: {{ owner.lastname }}</li>
        <li>Birthday: {{ owner.birthday }}</li>
        <li>Owner cars: {{ owner.cars }}</li>
    </ul>
    <a href="http://127.0.0.1:8000/admin/">Get back</a>

</body>
</html>