{% extends "base.html" %}

{% block title %}Список отелей{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
        <table class="table table-hover table-bordered">
            <thead class="table-info">
                <tr>
                    <th scope="col">Название отеля/Hotel name</th>
                    <th scope="col">Адрес/Address</th>
                    <th scope="col">Возможности/Features</th>
                </tr>
            </thead>
            {% for hotel in object_list %}
            <tbody>
                <tr>
                    <td>{{ hotel.hotel_name }}</td>
                    <td>{{ hotel.address }}</td>
                    <td class="d-flex justify-content-start gap-2">
                    <a href="/hotels/{{ hotel.id }}">
                        <button type="button" class="btn btn-info">Подробнее/More</button>
                    </a>
                    <td/>
                </tr>
            </tbody>
  {% endfor %}
</table>
{% endif %}
{% load bootstrap4 %}
<div class="pagination justify-content-center">
{% bootstrap_pagination page_obj %}
</div>
{% endblock %}
