<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Отели</title>
</head>
<body>
<br>
<br>
<p align='center'> <a href="/login/">
   <button type="button" class="btn btn-success">Вход/Login</button>
</a></p>
<p align='center'> <a href="/register/">
   <button type="button" class="btn btn-info">Регистрация/Registration</button>
</a></p>
<p align='center'> <a href="/admin/">
   <button type="button" class="btn btn-warning">Вход в качестве администратора/Login as an admin</button>
</a></p>
</body>
</html>