site_name: Lev Kobelev Web Dev Docs
site_description: Web Dev Course Labs Docs.
site_author: Lev Kobelev

nav:
    - Lab 1: lab-1.md
    - Lab 2: lab-2.md
    - Practical 3: lab-3.md

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.tabs.sticky

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
