{% extends "header.html" %}
{% block content %}
{% load static %}

<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold">Наши гости за Последний месяц</h1>
    <div class="col-lg-6 mx-auto">
    <p class="lead mb-5">Список гостей заселявшихся в наши номера</p>
    </div>
</div>
<section class="container">
  <div class="bg-white border rounded-5">
      <section class="w-100 p-4 text-center table-responsive">
        <table class="table">
          <thead class="table-light">
            <tr>
              <th scope="col">Фамилия</th>
              <th scope="col">Имя</th>
              <th scope="col">Номер</th>
              <th scope="col">Дата вселения</th>
              <th scope="col">Дата выселения</th>
            </tr>
          </thead>
          <tbody>
          {% for booking in bookings %}
            <tr>
              <td>{{ booking.guest.name }}</td>
              <td>{{ booking.guest.surname }}</td>
              <td>{{ booking.room.title }}</td>
              <td>{{ booking.checkin_date }}</td>
              <td>{{ booking.checkout_date }}</td>
            </tr>
          {% endfor %}
            <tr>
            </tr>
          </tfoot>
        </table>
      </section>
  </div>
</section>
{% endblock %}