{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="form-twit">
        <p>Здесь отображены Ваши данные:
        <hr>
            <br>
        <p>Ваша фотография: </p>
        <img style="padding-bottom:10px; width:60%" class="form-twit" src="{{profile.get_avatar_url}}">
            <br>
            <p>Имя: {{profile.name}}</p>
            <p>Фамилия: {{profile.surname}}</p>

    </div>
    <div class="col-md-4">
        <a href="{% url 'edit_profile' %}">
            <button type="submit" class="btn btn-success btn-md" name="button">Редактировать данные</button>
        </a>
    </div>
        </div>
</div>
{% endblock %}