<body bgcolor="#f5f5dc">
    <a href="/tour/registered"><button>Show all</button></a>
    {% for country in view.all_countries %}
    <a href="/filter/registered/{{country.id}}"><button>{{ country.name }}</button></a>
    {% endfor %}
<ul>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->
    <strong>{{ object.name }}</strong><br>
    Description: {{ object.description }}<br>
    <a href="/tour/registered/{{ object.id }}">More details</a> <br>
    <a href="/reservation_create/">Make a reservation</a> <br>
    
  
    <hr/>
    <!-- If objet_list is empty  -->
    {% empty %}
    No objects yet!!

    {% endfor %}
    <a href="/home/registered">Get back</a> <br>
</ul>
</body>