<!DOCTYPE html>
<html lang="en">
<head>

    <title>Комментарии</title>
</head>
<body>
<div class="main">
     {% for comment in comments %}
     <strong>Пользователя: </strong>{{comment.username}} <br>
     <strong>Название тура: </strong>{{comment.tour}} <br>
     <strong>Дата путешествия от: </strong>{{comment.start_date}} <br>
     <strong>До: </strong>{{comment.end_date}} <br>
     <strong>Оценка: </strong>{{comment.user_rating}} <br>
     <strong>Комментарий: </strong>{{comment.comment}} <br><br>
     {% endfor %}
</div>
</body>
</html>