<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All reviews</title>
</head>
<body bgcolor="#FCECFA">
<div class="main">
     {% for feedback in feedbacks %}
     <strong>Пользователь: </strong>{{feedback.username}} <br>
     <strong>Начало тура </strong>{{feedback.start_date}} <br>
     <strong>Конец тура </strong>{{feedback.end_date}} <br>
     <strong>Оценка: </strong>{{feedback.rating}} <br>
     <strong>Комментарий: </strong>{{feedback.comment}} <br><br>
     {% endfor %}
</div>
</body>
</html>