<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-9">
    <title>Главная</title>
</head>
<body>
<br>
<div class="container">
    <div class="d-flex align-items-start d-flex justify-content-center">
        <a href="/register/" style="background: #3e4445;padding: 10px 20px;color: white;">Регистрация</a>
        <a href="/login/" style="background: #3e4445;padding: 10px 20px;color: white;">Вход</a>
        <a href="/tours/" style="background: #3e4445;padding: 10px 20px;color: white;">Доступные туры</a>
        <a href="/profile/" style="background: #3e4445;padding: 10px 20px;color: white;">Личный кабинет</a>
        <a href="/reservedtour/" style="background: #3e4445;padding: 10px 20px;color: white;">Зарезервированные туры</a>
        <a href="/commentlist/" style="background: #3e4445;padding: 10px 20px;color: white;">Комментарии</a>
        <a href="/logout/" style="background: #3e4445;padding: 10px 20px;color: white;">Выйти</a>
    </div>
</div>
</div>
</body>