<!DOCTYPE html>
<html lang="en">
<head>

    <title>Брони</title>
</head>
<body>
     <h1>Кабинет {{user.username}}'a</h1>

     {% for reservation in reservation_list %}

     <strong>Тур: </strong>{{ reservation.tour }} <br>
     <strong>Начало брони: </strong>{{ reservation.start_date }} <br>
     <strong>Конец брони: </strong>{{ reservation.end_date }} <br>
     <strong>Статус брони: </strong>{{ reservation.status|yesno:"Забронировано!,Ждите подтверждения"  }}<br/>


     <a href="/profilereservations/deletereservation/{{ reservation.id }}/"><button class="btn btn-secondary">Удалить резерв</button></a>
     <a href="/profilereservations/updatereservation/{{ reservation.id }}/"><button class="btn btn-secondary">Обновить дату резерва</button></a>
         <a href="/tours/"><button class="btn btn-secondary">Туры</button></a>
         <a href="/createcomment/{{ reservation.id }}/"><button class="btn btn-secondary">Оставить отзыв</button></a>

     <br><br><br>
     {% empty %}
     <li>Нет брони</li>
     {% endfor %}


     <a href="/tours">Создать бронь</a><br>
     <a href="/profile">Назад в личный кабинет</a><br>
     <a href="/main">Главная страница</a>
</body>
</html>