<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
{% block content %}

    <table id="myTable" width="25%">
        <thead>
        <tr>
            <th><h1>Уже купили!</h1></th>
        </tr>
        </thead>

        <tbody>

        {% for reservation in reservations %}

            <tr>
                <td>Название тура: {{ reservation.tour.naming }} </td>
                <td>Страна: {{ reservation.tour.country }} </td>
                <td>Пользователь: {{ reservation.username.username }} </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
</body>
</html>