<!DOCTYPE html>
<html lang="en">
<head>

    <title>Туры</title>
</head>
<body>
<div class="main">
    {% for tour in tours %}
        ID: {{ tour.id }} <br><a href="/tours/{{ tour.id }}/reservation">Зарезервировать!</a></br>
        <strong>Название: </strong>{{ tour.naming }} <br>
        <strong>Описание: </strong>{{ tour.description }} <br>
        <strong>Начинается: </strong>{{ tour.start_date }} <br>
        <strong>Заканчивается: </strong>{{ tour.end_date }} <br>
        <strong>Страна: </strong>{{ tour.country }} <br>
        <a href="/profile">Вернуться в личный кабинет</a></br>
        <a href="/main">Главная страница</a></br>

            {% for comment in tour.comments %}
             <strong>Ник: </strong>{{comment.username}} <br>
             <strong>Воспользовался услугой от: </strong>{{comment.start_date}} <br>
             <strong>До: </strong>{{comment.end_date}} <br>
             <strong>Оценка: </strong>{{comment.user_rating}} <br>
             <strong>Комментарий: </strong>{{comment.comment}} <br><br>
            {% endfor %}
    {% endfor %}
</div>
</body>
</html>