<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <title>Dog Details</title>
    </head>
<body>
<h1>Dog details</h1>
<p>ID: {{ id }}</p>
<p>Nickname: {{ nicname }}</p>
<p>Breed: {{ breed }}</p>
<p>Age: {{ age }}</p>
<p>Classiness: {{ classiness }}</p>
<p>Pedigree document number: {{ pedigree_document_number }}</p>
<p>Parent_nicnames: {{ parent_nicnames }}</p>
<p>Last vaccination date: {{ last_vaccination_date }}</p>
<p>Owner's first name: {{ owner_first_name }}</p>
<p>Owner's last name: {{ owner_last_name }}</p>
<p>Owner's patronymic: {{ owner_patronymic }}</p>
<p>Owner's passport data: {{ owner_passport_data }}</p>
<p>Club ID: {{ club_id }}</p>
</body>
</html>