<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <title>{{ title }}</title>
</head>
<body>
    {% block mainmenu %}
    <header class="p-3 border-bottom bg-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-baseline justify-content-center">
                <a href="{% url 'hotels' %}" class="navbar-brand h1 px-5">Hotels</a>
                <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center">
                    <li><a href="{% url 'guests' %}" class="nav-link px-3 link-dark">Guests</a></li>
                </ul>

                <div class="btn-group">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="btn btn-dark btn-md" role="button">
                        {{user.username}}
                    </a>
                    <button type="button" class="btn btn-md btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                    {% else %}
                    <a href="{% url 'profile' %}" class="btn btn-dark btn-md" role="button">
                        Профиль
                    </a>
                    <button type="button" class="btn btn-md btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'login' %}">Войти</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'register' %}">Зарегистрироваться</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% endblock mainmenu %}

    <main>
        <section class="min-vh-100">
            <section>
                {% block content %}
                {% endblock %}
            </section>
        </section>
    </main>
</body>
</html>