{% extends 'base.html' %}

{% block content %}
<h3>{{ room.name }}</h3>
<p>Вместимость: {{ room.capacity }}</p>
<p>Тип: {{ room.type }}</p>
<p>Цена: {{ room.price }} руб/ночь</p>

<h4>Удобства:</h4>
<ul>
    {% for facility, value in room.facilities.get_fields %}
        {% if value %}
        <li>{{ facility }}</li>
        {% endif %}

    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
</ul>
<button onclick="location.href='{% url 'reserve' pk=room.id %}'" type="button">Зарезервировать</button>
{% endblock %}