{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Get hotel{% endblock %}

{% block content %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h2 class="mt-2">Введите название отеля:</h2>
          <hr class="mt-0 mb-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex p-2 flex-column ">
                    <input type="text" name="hotel_name">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-success g-5">Продолжить</button>
                  </div>
            </form>
        </div>
      </div>
    </div>
    {% endblock %}