{% extends 'base.html' %}

{% block title %}Отменить бронирование{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Отменить бронирование</h1>
        <form method="POST" enctype="multipart/form-data" class=mt-4>
            {% csrf_token %}
            {{ form.as_p }}
            <p>Вы уверены, что хотите удалить бронирование на рейс {{ object.flight_number }}?</p>
            <input type="submit" value="Подтвердить" class="btn btn-dark mt-3 px-3">
        </form>
    </div>
{% endblock %}