{% extends 'TheConference/base_conf.html' %}

  {% block title %}
    {{ conf.name }} - {{ block.super }}
  {% endblock %}

  {% block content %}
    <h1 class="mt-4">
      {{ conf.name }}
    </h1>
    <p class="fs-5">
      {{conf.date|date:"d N Y"}}, <b>{{conf.date|date:"H:i"}}</b>
    </p>
    <p class=border-end">
      {{conf.place}}
    </p>
    <p>
      {% for tag in conf.topics.all %}
        <a type="button" class="btn btn-dark" href="{{ tag.get_absolute_url }}"
          style="padding: 0.25rem 1rem 0.5rem 1rem; --bs-btn-font-size: 1rem; border-radius: 50px;">
          {{ tag.title|lower }}
        </a>
      {% endfor %}
    </p>
    <div class="mt-2">
      {{ conf.conf_description|linebreaks }}
    </div>
    <p>
      <b>Условия участия:</b>
      {{ conf.terms_of_participation }}
    </p>
    <p>
      <b>Адрес:</b>
      {{ conf.place_description }}
    </p>
    
  {% endblock %}