table {
    border-collapse: collapse;
    border: 1px solid black;
}

table th, table td {
    padding: 5px;
}

form {
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
}

form > div {
    margin-bottom: 5px;
}

form > div:last-child {
    margin-bottom: 0;
}